<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <title>{{ title }}</title>
</head>

<body>
    {% include "partials/site-head.njk" %}
    <main>
        {% for item in collections.posts %}
        <p>{{ item.data.title }}</p>
        {% endfor %}
        {{content | safe}}
    </main>
</body>

</html>